# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Python
*.pyc
*__pycache__/
*__pypackages__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pycachefile

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.pdb
*.obj
*.exe
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
*.exp
*.manifest
*.res
*.resources
*.aps
*.vspx
*.vspscc
*.vssscc
.bsc
*.swp

# Environments
.env
ENV/
env/
*.venv*

.to_delete/
outputs/
barkla_scripts/